body{
    margin: 0%;
    padding: 0%;
}
main{
    background-color: hsl(233, 47%, 7%);
    width: 1440px;
    text-align: center;
      
}
.globalbox{
    display: flex;
    align-items: center ;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
    height: 600px;
}
.textbox{
    background-color: hsl(244, 38%, 16%);
    display: flex;
    flex-direction: column;
    
}
.titles{
    color: white;
    text-align: start;
    font-size: 20px; 
    padding: 50px ;
}
.insights{
    color: hsl(277, 64%, 61%);
}
.discover{
    color: white;
    text-align;
}
.statistics{
    color: white;
    
}
.nomber{
    font-size: 25px;
}
.statistics{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 30px;
}
#pic{
    width: 750px;
    height: 342px;
    overflow: hidden;
}
